.feature-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 95%; 
    margin: 0 auto; 
    padding: 0 10px; 
    margin-top: 20px;
    margin-bottom: 10px;
}

.feature-item {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    flex: 1 1 calc(33% - 20px); 
    text-align: center;
    box-sizing: border-box; 
}

.feature-item h3 a {
    color: #0073e6;
    text-decoration: none;
    font-size: 1.2em;
}

.feature-item h3 a:hover {
    text-decoration: underline;
}

.fetching-message {
    flex: 1; 
    text-align: left;
    font-size: 1.2em; 
    color: #333; 
    padding-left: 20px; 
}

.ticker {
    background: #f4f4f4;
    padding: 10px 0;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

.ticker-wrapper {
    display: flex;
    align-items: center;
    width: 100%; 
    position: relative; 
}

.ticker-text {
    flex-shrink: 0; 
    font-size: 1.2em; 
    color: #333; 
    position: absolute; 
    left: 10px; 
    padding: 0 10px; 
    background: #f4f4f4; 
    border-radius: 5px 0 0 5px; 
}

.ticker-text a {
    text-decoration: none; 
}

.ticker-text a:hover {
    text-decoration: underline; 
}

.ticker-container {
    margin-left: 150px; 
    flex: 1; 
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.ticker-content-wrapper {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

#ticker-content1,
#ticker-content2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    animation: ticker 30s linear infinite; 
}

.status-item {
    display: inline-block;
    margin-right: 50px; 
    padding: 10px; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

.status-text {
    font-size: 1em;
    color: #333;
}

.bakerloo { border: 5px solid #B36305; }
.central { border: 5px solid #E32017; }
.circle { border: 5px solid #FFD300; }
.district { border: 5px solid #00782A; }
.dlr { border: 5px solid #00A4A7; }
.elizabeth-line { border: 5px solid #9364CC; }
.hammersmith-city { border: 5px solid #F3A9BB; }
.jubilee { border: 5px solid #A0A5A9; }
.overground { border: 5px solid #EE7C0E; }
.metropolitan { border: 5px solid #9B0056; }
.northern { border: 5px solid #000000; }
.piccadilly { border: 5px solid #003688; }
.tram { border: 5px solid #84B817; }
.victoria { border: 5px solid #0098D4; }
.waterloo-city { border: 5px solid #95CDBA; }

@keyframes ticker {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.news-section {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    font-family: Arial, sans-serif;
    max-width: 95%;
}

.news-section h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

#news-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.news-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-item img.news-image {
    display: block;
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 4px;
}

.news-item-content {
    padding: 10px 0;
}

.news-item h3 {
    margin: 0;
    font-size: 18px;
}

.news-item p {
    margin: 8px 0;
    font-size: 14px;
    line-height: 1.6;
}

.news-item a {
    text-decoration: none;
    color: #0073e6;
    font-weight: bold;
}

.news-item a:hover {
    text-decoration: underline;
}

#news-container p {
    font-size: 1em;
    color: #888;
    font-style: italic;
}
