/* Ticker Styles */
.ticker {
    background: #f4f4f4;
    padding: 10px 0;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    width: 100%; 
}

.ticker-wrapper {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.ticker-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.ticker-content-wrapper {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.ticker-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    animation: ticker 30s linear infinite; 
}

.status-item {
    display: inline-block;
    margin-right: 20px; 
    padding: 5px 10px; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    font-size: 0.9em; 
}

.status-text {
    color: #333;
}

.bakerloo { border: 3px solid #B36305; }
.central { border: 3px solid #E32017; }
.circle { border: 3px solid #FFD300; }
.district { border: 3px solid #00782A; }
.dlr { border: 3px solid #00A4A7; }
.elizabeth-line { border: 3px solid #9364CC; }
.hammersmith-city { border: 3px solid #F3A9BB; }
.jubilee { border: 3px solid #A0A5A9; }
.overground { border: 3px solid #EE7C0E; }
.metropolitan { border: 3px solid #9B0056; }
.northern { border: 3px solid #000000; }
.piccadilly { border: 3px solid #003688; }
.tram { border: 3px solid #84B817; }
.victoria { border: 3px solid #0098D4; }
.waterloo-city { border: 3px solid #95CDBA; }

@keyframes ticker {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Responsive Styles for Ticker */
@media (max-width: 600px) {
    .ticker-container {
        margin-left: 0; 
    }

    .ticker-content {
        font-size: 0.8em; 
    }

    .status-item {
        margin-right: 10px; 
        padding: 5px; 
    }
}


/* Features Grid Styles */
.features-grid {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px;
}

.feature-item {
    background-color: #f0f0f0; 
    border-radius: 8px; 
    overflow: hidden; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    padding: 3px; 
}

.feature-item h2 {
    font-size: 1.2rem; 
    margin-bottom: 10px; 
}

.feature-item p {
    font-size: 1rem; 
    color: #333; 
    line-height: 1.6; 
    margin: 0; 
}

/* Responsive Styles for Features Grid */
@media (max-width: 900px) {
    .features-grid {
        grid-template-columns: 1fr; 
    }
}

@media (max-width: 600px) {
    .features-grid {
        grid-template-columns: 1fr;
    }
}



/* News Section Styles */
.news-section {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); 
    gap: 20px; 
    padding: 20px;
}

.news-item {
    background-color: #f0f0f0; 
    border-radius: 8px; 
    overflow: hidden; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    padding: 15px;
}

.news-item img {
    width: 100%; 
    height: auto; 
    aspect-ratio: 16 / 9; 
    object-fit: cover; 
    border-bottom: 2px solid #ddd; 
}

.news-item h2 {
    font-size: 1.2rem; 
    margin: 10px 0; 
}

.news-item p {
    font-size: 1rem; 
    color: #333;
    line-height: 1.6; 
    margin: 0;
}

/* Responsive Styles for New Section */
@media (min-width: 600px) {
    .news-section {
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); 
    }
}

@media (min-width: 900px) {
    .news-section {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
}