/* Styles for Station Finder - station.html */
.station-finder {
    max-width: 800px;
    margin: 0px auto;
    padding: 20px;
    text-align: center;
}

.search-container {
    margin-bottom: 20px;
}

#station-search {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-results {
    margin-top: 20px;
    text-align: left;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.station-result {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition for background color and slight zoom effect */
}

.station-result:hover {
    background-color: #e0e0e0; /* Darker background color on hover */
    transform: scale(1.02); /* Slight zoom effect */
}

.line-colors {
    margin-top: 5px;
}

.line-color {
    display: inline-block;
    width: 40px;
    height: 10px;
    border-radius: 4px;
    margin-right: 5px;
}

#selectedStation {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

#arrivalsContainer {
    margin-top: 20px;
}

.line-arrivals {
    border: 5px solid;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    display: flex; /* Enable flexbox layout */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 10px; /* Add space between columns */
    overflow-x: auto; /* Allow horizontal scrolling if content overflows */
}

.line-arrivals h4 {
    margin: 0;
    padding-bottom: 0px;
    font-weight: bold;
    text-align: center; /* Center-align the heading */
    width: 100%; /* Ensure heading spans the full width */
    font-size: 20px;
}

.arrival {
    flex: 1 1 200px; /* Allow items to grow and shrink with a base width of 200px */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    padding: 10px;
    text-align: center; /* Center-align text */
    border: 2px solid #454545; /* Add border around each platform box */
    border-radius: 5px; /* Round the corners */
    background-color: #f9f9f9; /* Background color for each platform box */
}

.arrival strong {
    display: block;
    font-weight: bold; /* Ensure platform name is bold */
    margin-bottom: 5px; /* Add some spacing below the platform name */
    font-size: 17px;
}

.arrival:hover {
    background-color: #ececec; /* Darker background color on hover */
    transform: scale(1.02); /* Slight zoom effect */
}
