/* Basic resets for all pages */
body, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Default sans-serif font stack */
}

header {
    background: #333;
    color: #fff;
}

/* Navbar styles for mobile-first */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    position: relative; 
}

.logo {
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center; 
}

.logo img {
    max-width: 100%; 
    height: auto; 
    width: 150px; 
}

.menu-toggle {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.nav-menu {
    display: flex; 
    list-style: none;
    transition: max-height 0.4s ease, opacity 0.4s ease; 
    max-height: none; 
    opacity: 1; 
    flex-direction: row;
}

.nav-menu li {
    margin: 0 10px;
}

.nav-menu a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

.nav-menu a:hover {
    background: #555;
    border-radius: 5px;
}

/* Mobile styles */
@media only screen and (max-width: 800px) {
    .nav-menu {
        display: none; 
        flex-direction: column;
        width: 100%;
        background: #333;
        position: absolute;
        top: 60px; 
        left: 0;
        padding: 10px;
        z-index: 1;
    }

    .nav-menu.active {
        display: flex; 
        max-height: 300px; 
        opacity: 1;
    }

    .menu-toggle {
        display: block;
    }

    .logo img {
        width: 150px;
    }

    .nav-menu li {
        margin-bottom: 25px;
    }
}

/* Hero section styles */
.hero {
    background-color: #007BFF; 
    color: white; 
    text-align: center;
    padding: 5px 15px; 
}

.hero-logo {
    max-width: 100%; 
    height: auto; 
    width: 320px; 
    margin-bottom: 0px; 
}

.hero h1 {
    font-size: 1.5rem; 
    margin-bottom: 20px; 
}

.hero p {
    font-size: 1.1rem; 
    max-width: 700px; 
    margin: 0 auto; 
    line-height: 1.6;
}

/* Responsive Styles for Hero Section */
@media only screen and (max-width: 600px) {
    .hero-logo {
        width: 250px; 
        margin-bottom: 0px; 
    }

    .hero h1 {
        font-size: 1.5rem; 
    }

    .hero p {
        font-size: 1rem; 
    }
}


